/* Native HTML/CSS elements*/

body {
  margin: 0px;
  padding: 0px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  --verdeoscuro: #00540d;
  --verdenormal: #487c00;
}

a {
  text-decoration: none;
  color: black;
}

button {
  font-size: 24px;
}

section {
  display: flex;
  font-family: "Playfair Display", serif;
}

/*GLOBAL STYLES*/

.marcaHighlight {
  color: #487c00;
}

/* 
ALL NAVBAR 
*/

.nav > * {
  background-color: #ffffff;
  z-index: 100;
  padding: 0;
  margin: 0;
  list-style-type: none;
  /*CUIDADO CON CAMBIAR ESTA LINEA*/
  box-sizing: unset;
  /*CUIDADO CON CAMBIAR ESTA LINEA*/
}

/* All NAVBAR */

.navbar > .container-fluid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  justify-content: center;
  font-family: "Playfair Display";
  width: auto;
}

/* Logo de Reserva Mentor */

.navbar-brand {
  display: flex;
  grid-column: 2 / span 1;
  padding: 30px 40px;
  margin-top: 0px;
}

/* Boton Toggler (para abrir el menu en movil) */

.navbar-toggler {
  grid-column: 11 / span 1;
}

/* Menu que se cierra en movil */

.navbar-collapse {
  grid-column: 11 / span 1;
  flex-direction: row-reverse;
}

/* Cada elemento del Menu */

.navbar-nav .nav-item {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: bold;
  margin-left: 32px;
  align-self: center;
}

.navbar-nav .nav-item-button {
  font-family: "Abhaya Libre";
  font-style: normal;
  font-weight: bold;
  margin-left: 32px;
  align-self: center;
  margin-bottom: 20px;
}

/*  Titulo de la App */

.navbar-brand h1 {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.navbar-brand span {
  width: 72px;
  font-size: 20px;
  font-weight: bold;
  height: max-content;
  color: var(--verdenormal);
}

/* Cada link del Menu */

.navbar-nav .nav-link {
  color: black;
  font-size: 14px;
  border-radius: 12px;
  margin-right: 1.3rem;
  padding: 0px 40px;
  position: relative;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  width: max-content;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navbar-nav .nav-link:hover {
  font-weight: 900;
  cursor: pointer;
  color: var(--verdeoscuro);
}

.navbar-nav .nav-link-button {
  text-decoration: none;
  color: rgb(255, 255, 255);
  background-color: var(--verdenormal);
  font-size: 12px;
  border-radius: 12px;
  margin-right: 1.3rem;
  padding: 10px 40px;
  position: relative;
  font-weight: bold;
  align-self: center;
  justify-self: center;
  width: max-content;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.navbar-nav .nav-link-button:hover {
  background-color: var(--verdeoscuro);
  cursor: pointer;
}

@media (max-width: 2860px) {
  /* Boton Toggler (para abrir el menu en movil) */
  .navbar-toggler {
    font-size: larger;
  }
  .navbar-toggler img {
    width: 40px;
  }
  /*All navbar */
  .navbar > .container-fluid {
    font-size: large;
    padding: 15px 3%;
    max-width: 2560px;
  }
  /* Cada elemento del Menu */
  .navbar-nav .nav-item {
    margin-left: 32px;
  }
  .navbar-nav .nav-item-button {
    margin-left: 32px;
  }
  .navbar-brand img {
    width: 72px;
    height: max-content;
  }
}

@media (max-width: 1440px) {
  .navbar-toggler {
    font-size: large;
  }
  .navbar > .container-fluid {
    font-size: 14px;
    padding: 15px 1%;
    max-width: 1440px;
  }
  .navbar-nav .nav-item {
    margin-left: 6px;
  }
  .navbar-nav .nav-item-button {
    margin-left: 6px;
  }
  .navbar-brand img {
    width: 30px;
    height: max-content;
  }
}

@media (max-width: 1061px) {
  .navbar-toggler {
    font-size: medium;
  }
  .navbar > .container-fluid {
    font-size: 12px;
    padding: 10px 5%;
    max-width: 1061px;
    justify-content: center;
  }
  .navbar-brand {
    margin-right: 0;
  }
  .navbar-nav .nav-link {
    margin-right: 0;
  }
  .navbar-nav .nav-link-button {
    margin-right: 0;
  }
  .navbar-brand img {
    width: 30px;
    height: max-content;
  }
}

@media (max-width: 1017px) {
  .navbar-toggler {
    font-size: medium;
  }
  .navbar > .container-fluid {
    font-size: 12px;
    padding: 10px 0%;
    max-width: 1017px;
    justify-content: center;
  }
  .navbar-brand {
    margin: 0 !important;
  }
  .navbar-nav .nav-link {
    margin-right: 0;
  }
  .navbar-nav .nav-link-button {
    margin-right: 0;
  }
  .navbar-brand img {
    width: 30px;
    height: max-content;
  }
}

@media (max-width: 992px) {
  .navbar-toggler {
    font-size: medium;
  }
  .navbar > .container-fluid {
    font-size: 12px;
    padding: 10px 0%;
    max-width: 992px;
    justify-content: space-evenly;
  }
  .navbar-brand {
    margin: 0 !important;
  }
  .navbar-nav .nav-link {
    margin-right: 0;
  }
  .navbar-nav .nav-link-button {
    margin-right: 0;
  }
  .navbar-brand img {
    width: 30px;
    height: max-content;
  }
}

/*changing the looking of the navbar here with the button menu toggler */

/* aqui abajo se cambia el aspecto del menu al boton toggler*/

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-toggler {
    display: none;
  }
  .navbar-expand-lg .navbar-collapse {
    display: inherit;
  }
  /* Este es el menu del navbar */
  .navbar-collapse ul {
    grid-column: 11 / span 1;
    flex-direction: row;
  }
  .navbar-nav .nav-item {
    margin-top: 6px;
  }
  .navbar-nav .nav-item-button {
    margin-top: 6px;
  }
  .nav-item .nav-link a {
    margin-bottom: 12px;
  }
  .nav-item-button .nav-link-button a {
    margin-bottom: 12px;
  }
}

@media (max-width: 992px) {
  .navbar-collapse {
    grid-column: span 12;
    margin: 0;
  }
  .navbar > .container-fluid {
    font-size: 14px;
    padding: 6px 12px;
    max-width: 992px;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    margin-bottom: 12px;
  }
  .nav-link-button {
    margin-bottom: 12px;
  }
}

@media (max-width: 660px) {
  .navbar-toggler img {
    height: 25px;
    justify-self: center;
    align-self: center;
    margin-bottom: 5px;
  }
  .navbar > .container-fluid {
    font-size: 10px;
    padding: 15px 1%;
    max-width: 600px;
  }
}

@media (max-width: 375px) {
  .navbar > .container-fluid {
    max-width: 375px;
  }
}

@media (max-width: 320px) {
  .navbar > .container-fluid {
    max-width: 320px;
  }
}

/* 
ALL NAVBAR 
*/

/*Introduccion*/

.introduccion {
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 743px;
  margin: 2% auto;
}

.introduccionDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 1088px;
}

.mensajeGrande {
  justify-content: center;
  justify-self: center;
  text-align: center;
  align-self: center;
  font-size: 76px;
  font-weight: 700;
}

.mensajeChico {
  margin: 40px 0px;
  font-size: 24px;
  font-weight: 700;
}

.searchBar {
  height: 170px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #aac38b;
  border-radius: 50px;
}

.searchBar button {
  border: none;
  border-radius: 25px;
  height: 60%;
  width: 23%;
  font-size: 24px;
  background-color: white;
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.searchBar .search {
  background-color: #487c00;
  color: white;
}

@media (max-width: 660px) {
  .searchBar {
    flex-direction: column;
    height: 400px;
  }

  .searchBar button {
    width:90%;
    font-size: 15px;
    height: 20%;
  }

  .mensajeGrande {
    font-size: 30px;
  }

  .mensajeChico {
    font-size: 15px;
  }

}

/*ACERCA DE*/

#acercaDe {
  margin-top: 170px;
  justify-content: center;
  width: 100%;
  font-family: "Playfair Display", serif;
}

.acercaDeBox {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.nosotros p {
  margin: 70px 0px;
  font-size: 20px;
}

.nosotros span:first-child {
  font-size: 45px;
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.integrante {
  width: 40%;
}

.integrante img {
  width: min-content;
  box-shadow: #00540d;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.imgMentor {
  width: 400px;
  height: 360px;
}

.information span {
  display: block;
  font-size: 40px;
}

.descripcion {
  font-size: 24px;
}

/*celular*/
@media (max-width: 550px) {
  .acercaDeBox {
    margin: 0px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .integrantes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .integrante {
    width: 100%;
    align-items: center;
  }

  .imgMentor {
    height: 130px;
  }
  .information span {
    font-size: 20px;
  }
  .integrante p {
    font-size: 12px;
  }
}

/*tablet*/

@media (max-width: 1200px) and (min-width: 550px) {
  .acercaDeBox {
    margin: 0px 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .integrantes {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .integrante {
    width: 100%;
    align-items: center;
  }

  .imgMentor {
    height: 150px;
  }
  .information span {
    font-size: 30px;
  }
  .integrante p {
    font-size: 22px;
  }
}

/*TOP MENTORES*/

.mentoresDisplay {
  display: flex;
  height: 20%;
  width: 80%;
  flex-direction: column;
  margin: 0 auto; /* Centrar el contenedor horizontalmente */
}

.topMentoresText {
  font-size: 45px;
  margin-bottom: 80px;
  text-align: center; /* Centrar el texto */
}

#topMentores {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 169px 0px;
}

.mentores {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan */
}

.mentor {
  display: flex;
  flex-direction: column;
  margin: 10px; /* Espaciado entre mentores */
  flex: 1 1 200px; /* Hacer que los elementos sean flexibles */
}

.job {
  color: #487c00;
}

/* Media queries para diferentes tamaños de pantalla */
@media (max-width: 1200px) {
  .topMentoresText {
    font-size: 40px;
    margin-bottom: 60px;
  }
  
  .mentor {
    flex: 1 1 250px;
  }
}

@media (max-width: 992px) {
  .topMentoresText {
    font-size: 35px;
    margin-bottom: 50px;
  }
  
  .mentores {
    justify-content: center;
  }

  .mentor {
    flex: 1 1 300px;
  }
}

@media (max-width: 768px) {
  .topMentoresText {
    font-size: 30px;
    margin-bottom: 40px;
  }
  
  #topMentores {
    margin: 100px 0px;
  }

  .mentor {
    flex: 1 1 100%;
  }
}

@media (max-width: 576px) {
  .topMentoresText {
    font-size: 25px;
    margin-bottom: 30px;
  }
  
  .mentores {
    flex-direction: column;
    align-items: center;
  }

  .mentor {
    flex: 1 1 100%;
    margin: 10px 0;
  }
}

/*TESTIMONIOS*/

.usuariosDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.usuariosText {
  font-size: 50px;
  margin-bottom: 80px;
  text-align: center;
}

.reservaMentor {
  font-size: 50px;
  margin-bottom: 80px;
  color: #487c00;
  text-align: center;
}

#Testimonios {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.usuarios {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.usuario {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 150px;
  margin-left: 350px;
  margin-right: 350px;
}

.usuario:nth-child(odd) {
  flex-direction: row;
}

.usuario:nth-child(even) {
  flex-direction: row-reverse;
}

.imgUsuario {
  width: 400px;
  height: 400px;
  border-radius: 100%;
  object-fit: cover;
}

.usuarioName {
  font-size: 35px;
}

.descripcion {
  font-size: 23px;
  text-justify: inter-word;
  color: #333;
}

.informacion {
  border: 1px solid #487c00;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px;
  border-radius: 5%;
}

@media (max-width: 1200px) {
  .usuario {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 992px) {
  .usuario {
    flex-direction: column;
    margin: 20px;
  }

  .informacion {
    width: 80%;
  }

  .imgUsuario {
    width: 250px;
    height: 250px;
  }
}

@media (max-width: 768px) {
  .usuariosText, .reservaMentor {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .usuarioName {
    font-size: 30px;
  }

  .descripcion {
    font-size: 18px;
  }

  .imgUsuario {
    width: 200px;
    height: 200px;
  }

  .informacion {
    width: 70%;
  }
}

@media (max-width: 576px) {
  .usuariosText, .reservaMentor {
    font-size: 25px;
    margin-bottom: 20px;
  }

  .usuario {
    margin-bottom: 20px;
    padding: 10px; 
  }

  .imgUsuario {
    width: 200px;
    height: 200px;
  }

  .usuarioName {
    font-size: 18px;
  }

  .descripcion {
    font-size: 12px;
  }

  .informacion {
    width: 80%;
  }
}

/*CARACTERISTICAS*/

#caracteristicas {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forStudents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.gridbox {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

#caracteristicas span:first-child {
  font-size: 45px;
}

.gridbox > div:nth-child(n) {
  display: flex;
  justify-content: space-around;
  gap: 20%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.caracteristicas span {
  font-size: 45px;
}

.forStudents > span {
  font-size: 36px;
  justify-content: center;
}

.imgCar {
  width: 360px;
  height: 360px;
}

.forMentors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.frameTexto {
  flex-direction: column;
  display: flex;
  border: 1px solid #00540d;
  border-radius: 10px;
  padding: 20px;
  width: 360px;
  height: 360px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

@media (max-width: 660px) {
  .gridbox > div:nth-child(n) {
    flex-direction: column;
  }

  .frameTexto {
    height: auto;
  }
}

/*VIDEO*/

.Video {
  max-width: 600px; 
  margin: 0 auto;
}

.Video h1 {
  font-size: 36px; 
  text-align: center; 
  margin-bottom: 30px; 
}

/*IMAGE GALLERY*/

.gallery-header {
  text-align: center;
  margin-top: 200px;
  margin-bottom: 40px;
}

.slider_box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin-bottom: 20px;
}

.container_slider {
  width: 550px;
  height: 380px;
  display: flex;
  align-items: center;
  border: 2px solid green;
  overflow: hidden;
  border-radius: 15px;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  flex: 0 0 100%;
  height: 380px;
  background-size: cover;
  background-position: center;
}

.slide img {
  width: 100%;
  height: 120%;
  object-fit: cover;
}

.slider_controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider_controls button {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
}

.prev,
.next {
  margin: 0 10px;
  background: green;
  color: white;
}

.slide.active {
  transform: translateX(0);
}

/*CALL TO ACTION*/

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 170px;
  margin-bottom: 200px;
}

.cta-background {
  background-color: #00540d;
  padding: 40px 140px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cta-content {
  text-align: center;
}

.cta-text h1 {
  margin: 0 0 20px;
  color: #ffffff;
}

.cta-input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cta-input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  width: 300px;
}

.cta-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .gallery-header {
    margin-top: 100px;
    margin-bottom: 20px;
  }

  .slider_box {
    display: flex;
    align-items: center;
  }

  .container_slider {
    width: 60%;
    height: auto;
    border: 2px solid green;
    border-radius: 15px;
  }

  .slider_controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prev,
  .next {
    margin: 0 10px;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cta-container {
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .cta-background {
    padding: 20px;
    width: 90%;
  }

  .cta-input {
    width: 100%;
  }

  .cta-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
  }
}

@media (max-width: 375px) {
  .gallery-header {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .slider_box {
    display: flex;
    align-items: center;
  }

  .slider_controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prev,
  .next {
    margin: 0 10px;
  }

  .container_slider {
    width: 100%;
    height: auto;
    border: 2px solid green;
    border-radius: 15px;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cta-container {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .cta-background {
    padding: 10px;
    width: 95%;
  }

  .cta-input {
    width: 100%;
  }

  .cta-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
}

@media (max-width: 480px) {
  .gallery-header {
    margin-top: 50px;
    margin-bottom: 10px;
  }

  .slider_box {
    display: center;
    align-items: center;
  }

  .slider_controls {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .prev,
  .next {
    margin: 0 10px;
  }

  .container_slider {
    width: 100%;
    height: auto;
    border: 2px solid green;
    border-radius: 15px;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .cta-container {
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .cta-background {
    padding: 10px;
    width: 95%;
  }

  .cta-input {
    width: 100%;
  }

  .cta-button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
  }
}

/*FAQ Y SUCCESS*/

.list-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 54, 13, 0.1);
  border-radius: 8px;
}

.list-item {
  margin-bottom: 20px;
}

.list-container div h1 {
  text-align: center;
  color: #333;
}

.list-container div div h2 {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: green;
}

.list-container div div p {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
}

/*CONTACTO*/

#form-container {
  padding: 30px;
  justify-content: center;
  margin-bottom: 10px;
}

.contact-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
}

.box-container h1 {
  max-width: 100%;
  text-align: center;
  margin-bottom: 25px;
}

.contact-form {
  width: 45%;
  padding: 35px 35px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
  border: 3px solid #00540d;
  border-radius: 25px;
}

.form-text {
  width: 40%;
  text-align: left;
  color: #333;
  font-size: 20px;
  padding-left: 25px;
}

.form-item {
  margin-bottom: 10px;
}

.form-item input,
.form-item textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #00540d;
  border-radius: 5px;
}

.form-group textarea {
  resize: none;
}

.contact-form button {
  padding: 5px 20px;
  cursor: pointer;
  background-color: #487c00;
  color: #ffffff;
  border: none;
  font-size: 20px;
  border-radius: 10px;
  transition: background-color 0.3s;
  align-self: flex-end;
}

.contact-form button:hover {
  background-color: #00540d;
}

@media (max-width: 660px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-form {
    width: 100%;
  }

  .form-text {
    width: 100%;
  }
  
}

/* FOOTER */

.reserva-mentor-container {
  margin: 0;
  display: flex;
  color: whitesmoke;
  background-color: #00540d;
}

.reserva-mentor-title {
  font-size: 4rem;
  padding-left: 15%;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.reserva-mentor-links {
  padding: 3% 0% 3% 20%;
}

.reserva-mentor-subtitle {
  font-size: 2rem;
  margin-bottom: 5%;
}

.reserva-mentor-list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 5%;
}

.reserva-mentor-list li {
  font-size: 1.3rem;
  margin-bottom: 5%;
}

.reserva-mentor-socials .social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reserva-mentor-socials .social-icons a {
  margin: 0 5%;
  font-size: 2rem;
}

.reserva-mentor-socials .social-icons img {
  width: 2rem;
  height: 2rem;
}

@media (max-width: 1200px) {
  .reserva-mentor-title {
    font-size: 4rem;
    padding-left: 10%;
  }
}

@media (max-width: 968px) {
  .reserva-mentor-title {
    font-size: 3rem;
    padding-left: 10%;
  }
  .reserva-mentor-subtitle {
    font-size: 1.6rem;
    margin-bottom: 5%;
  }
  .reserva-mentor-list li {
    font-size: 1.3rem;
  }
  .reserva-mentor-socials .social-icons a {
    margin: 5%;
    font-size: 2rem;
  }
}

@media (max-width: 868px) {
  .reserva-mentor-title {
    font-size: 2rem;
    padding-left: 10%;
  }
  .reserva-mentor-subtitle {
    font-size: 1.3rem;
    margin-bottom: 5%;
  }
  .reserva-mentor-list li {
    font-size: 1rem;
  }
  .reserva-mentor-socials .social-icons a {
    margin: 3%;
    font-size: 2rem;
  }
}

@media (max-width: 568px) {
  .reserva-mentor-container {
    display: flex;
    flex-direction: column;
    flex-shrink: initial;
  }
  .reserva-mentor-title {
    font-size: 2.5rem;
    padding-left: 10%;
  }
  .reserva-mentor-subtitle {
    font-size: 1.5rem;
    margin-bottom: 5%;
  }
  .reserva-mentor-list li {
    font-size: 1.2rem;
  }
  .reserva-mentor-socials .social-icons a {
    margin: 3%;
    font-size: 3rem;
  }
  .reserva-mentor-socials .social-icons img {
    width: 3rem;
    height: 3rem;
  }
}
