body {
  margin: 0px;
}
header {
  font-family: "Playfair Display", serif;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

button {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
}

.ingresoUsuario ul li {
  display: inline-block;
}

.highlight {
  color: #487c00;
}

.ingresoUsuario button {
  margin: 15px;
  height: 40px;
  width: 180px;
  background-color: #487c00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.linksHeader ul li {
  display: inline-block;
  margin-right: 20px;
}

.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 169px;
}

.introDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 1088px;
}

.mensajeGrande {
  font-size: 96px;
  font-weight: 700;
}

.mensajeChico {
  margin: 40px 0px;
  font-size: 24px;
  font-weight: 700;
}

.searchBar {
  height: 368px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #aac38b;
  border-radius: 50px;
}
.searchBar button {
  border: none;
  border-radius: 25px;
  height: 60%;
  width: 23%;
  font-size: 24px;
  background-color: white;
}

.searchBar .search {
  background-color: #487c00;
  color: white;
}

.topMentores {
  display: flex;
  margin: 169px 0px;
}
.mentor {
  display: flex;
  flex-direction: column;
}
.information span {
  display: block;
}

.job {
  color: #487c00;
}
