

body {
  margin: 0px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}
header {
  font-family: "Playfair Display", serif;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

button {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
}

.ingresoUsuario ul li {
  display: inline-block;
}

.highlight {
  color: #487c00;
}

.ingresoUsuario button {
  margin: 15px;
  height: 40px;
  width: 180px;
  background-color: #487c00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.linksHeader ul li {
  display: inline-block;
  margin-right: 20px;
}

.intro {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 169px;
  width: 100%;
  height: 743;
}

.introDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 1088px;
}

.mensajeGrande {
  font-size: 96px;
  font-weight: 700;
}

.mensajeChico {
  margin: 40px 0px;
  font-size: 24px;
  font-weight: 700;
}

.searchBar {
  height: 368px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: #aac38b;
  border-radius: 25px;
  padding: 20px
}
.searchBar button {
  border: none;
  border-radius: 25px;
  height: 55%;
  width: 23%;
  font-size: 24px;
  background-color: white;
}

.searchBar .search {
  background-color: #487c00;
  color: white;
}

.topMentores {
  display: block;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 169px 0px;
}

.mentoresDisplay {
  display: flex;
  height: 836px;
  width: 1410px;
  flex-direction: column;
}

.topMentoresText {
  font-size: 45px;

  margin-bottom: 80px;
}

.mentores {
  display: flex;
  justify-content: space-around;
}

.mentor {
  display: flex;
  flex-direction: column;
}

.imgMentor {
  width: 400px;
  height: 360px;
}

.information span {
  display: block;
  font-size: 40px;
}

.job {
  color: #487c00;
}

.caracteristicas {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.forStudents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.carDerecha,
.carIzquierda {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carIzquierda div {
  width: 50%;
  align-items: flex-start;
  align-items: center;
}

.carDerecha div {
  width: 50%;
  align-items: flex-start;
  align-items: center;
}

.carDerecha {
  align-items: flex-end;
}

.carDerecha span:first-child,
.carIzquierda span:first-child {
  font-size: 36px;
}

.carDerecha p:first-child,
.carIzquierda p:first-child {
  font-size: 24px;
}

.caracteristicas span {
  font-size: 45px;
}
.forStudents > span {
  font-size: 36px;
  justify-content: center;
}

.imgCar {
  width: 15%;
  height: 15%;
}

.acercaDe {
  margin-top: 170px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.acercaDeBox {
  display: flex;
  flex-direction: column;
  width: 65%;
}

.integrantes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.integrante {
  width: 40%;
}

.nosotros p {
  margin: 70px 0px;
  font-size: 20px;
}

.nosotros span:first-child {
  font-size: 45px;
}

.descripcion{
  font-size: 24px;
}

.forMentors {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  height: 100%;
}

.frameTexto {
  border: 1px solid #00540D;
  border-radius: 10px;
  padding: 20px;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}