header {
  font-family: "Playfair Display", serif;
  display: flex;
  height: 100px;
  width: 100%;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  font-weight: 700;
  font-size: 24px;
}

button {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
}

.ingresoUsuario ul li {
  display: inline-block;
}

.highlight {
  color: #487c00;
}

.ingresoUsuario button {
  margin: 15px;
  height: 40px;
  width: 180px;
  background-color: #487c00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.linksHeader ul li {
  display: inline-block;
  margin-right: 20px;
}
